DATABASE_URL="mongodb+srv://<db_username>:<db_password>@cluster0.jat59.mongodb.net/capricorn?appName=Cluster0"
ADMIN_EMAIL=
ADMIN_PASSWORD=
JWT_SECRET=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=